@{
    ViewData["Title"] = "Page not found";
}

<h1>Page not found</h1>

<p>Heres where you can go from here</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/DiscoveryJoblist">Discovery Job List</a></li>
</ul>
