
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="container-fluid">

        <h1>This website is currently under construction...</h1>
        <br />
        <br />
         <h4>General info:</h4>
        <ul>
            <li>To find the DocSupply Website repo: <a href="https://github.com/nhsevidence/docsupply" target="_blank">click here</a></li>
            <li>To find the DocSupply Webservice repo: <a href="https://github.com/nhsevidence/docsupply-ws" target="_blank">click here</a></li>
            <li>To go to the project management tool Mingle: <a href="https://nice-digital.mingle.thoughtworks.com/projects/document_supply/cards/grid?color_by=type&filters%5B%5D=%5BType%5D%5Bis%5D%5BStory%5D&filters%5B%5D=%5BType%5D%5Bis%5D%5BTask%5D&filters%5B%5D=%5BType%5D%5Bis%5D%5BDefect%5D&filters%5B%5D=%5BSprint%5D%5Bis%5D%5B%28Current+Sprint%29%5D&group_by%5Blane%5D=status&lanes=Backlog%2CReady+for+Dev%2FNext%2CIn+Dev%2CFinished+Dev%2CIn+Test%2CQA%2CDone&tab=Sprint+Wall" target="_blank">click here</a></li>
        </ul>
        <br>
        <br />
        <h4>WebService can be accessed via:</h4>
        <ul>
            <li>Currently connected to PubMed API - retrieving only free full text articles in the search: <a href="http://192.168.142.157:8090/search" target="_blank">click here</a></li>
        </ul>
        <h3><a href="/discoveryjoblist">Start Discovery</a></h3>

     </div>
</div>
