<br />
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputEmail">Textbox</label>
        <div class="controls">
            <input type="text" id="textbox" placeholder="Textbox">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEmail">Text area</label>
        <div class="controls">
            <textarea rows="3"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Option one
        </label>
        <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two
        </label>
        <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            Option three
        </label>
    </div>

    <div class="control-group">
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Option one
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Option two
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Option three
        </label>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEmail">Drop down</label>
        <div class="controls">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>

    <button type="button" class="btn btn-inverse">Submit</button>
</form>
