@{
    ViewData["Title"] = "Login";
}

<div>
    
    
    <p> <a href="Signindev/userone">Sign in as user one</a></p>
    
    <p><a href="Signindev/usertwo">Sign in as user two</a></p>
    
    <br/>

    <a href="http://localhost:1367/Signin.aspx?returnurl=http://localhost:56456/Home">(test sign in locally)</a>

   
</div>