@{
    ViewData["Title"] = "Server error";
}

<h1>Something's gone wrong</h1>
<div class="exception" style="display:none"><!-- @ViewData["Exception"] --></div>
<p>Heres where you can go from here</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/DiscoveryJoblist">Discovery Job List</a></li>
</ul>
